*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/cloudpos/proguardMapping.txt
/cloudpos/seeds.txt
/cloudpos/unused.txt
/cloudpos/release
*.apk

/mine/src/test
/mine/src/androidTest
/login/src/test
/login/src/androidTest
/home/src/test
/home/src/androidTest
/discover/src/test
/discover/src/androidTest