*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/tianFuFinance/seeds.txt
/tianFuFinance/unused.txt
/tianFuFinance/proguardMapping.txt
/tianFuFinance/release
*.apk

/mine/src/test
/mine/src/androidTest
/login/src/test
/login/src/androidTest
/home/src/test
/home/src/androidTest
/Information/src/test
/Information/src/androidTest
/Train/src/test
/Train/src/androidTest