*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/cloudpos/proguardMapping.txt
/cloudpos/seeds.txt
/cloudpos/unused.txt
/cloudpos/release
*.apk

/mine/test
/mine/androidTest
/login/test
/login/androidTest